ipch
VirtualFun
Debug
.vs
Design_factory.VC.VC.opendb
Design_factory.VC.db
AbstractFactory/Debug/*
Design_Observe/Debug/*
Builder\Debug\*
Factorymethod/Debug/
Design_factory/Debug/*
Prototype_Design/Debug/*
Bridge_Design/Debug/*
Adapter_Design/Debug/*
Decorator_Design/Debug/*
Compsonment_Design/Debug/*
Flyweight_Design/Debug/*